shode_modules
npm-debug.log
.git
.gitignore
.dockerignore
Dockerfile
.env
.env.local
.env.
*.local
README.md
.DS_Store
*.log
dist
build
.vscode
.idea
.pytest_cache
__pycache__
*.pyc
.coverages
coverage
.nyc_output
